{
  "openapi": "3.0.1",
  "info": {
    "title": "Visa Direct Account and Wallet",
    "description": "",
    "version": "1"
  },
  "servers": [
    {
      "url": "https://sandbox.api.visa.com",
      "description": "Sandbox server"
    }
  ],
  "security": [],
  "tags": [
    {
      "name": "Managed Liquidity FX ",
      "description": "Managed Liquidity FX "
    },
    {
      "name": "Payouts Originator Receive API - Legacy",
      "description": "Payouts Originator Receive API - Legacy"
    },
    {
      "name": "Payouts Originator Send API - Legacy",
      "description": "Payouts Originator Send API - Legacy"
    },
    {
      "name": "Visa Direct Account and Wallet Additional Services",
      "description": "Visa Direct Account and Wallet Additional Services"
    },
    {
      "name": "Visa Direct Account and Wallet Receive API",
      "description": "Visa Direct Account and Wallet Receive API"
    },
    {
      "name": "Visa Direct Account and Wallet Send API",
      "description": "Visa Direct Account and Wallet Send API"
    }
  ],
  "paths": {
    "/visapayouts/v3/payouts": {
      "get": {
        "tags": [
          "Visa Direct Account and Wallet Send API"
        ],
        "summary": "Query Payout",
        "description": "Query Payout",
        "operationId": "QueryPayout",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/PayoutIdentifier"
            }
          },
          {
            "name": "idType",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/TransactionIdType-1"
            }
          },
          {
            "name": "initiatingPartyId",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/InitiatingPartyId"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/QueryResponseAccount-1"
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse-1"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse-1"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse-1"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse-1"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse-1"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse-1"
          }
        },
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1visapayouts~1v3~1payouts/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      },
      "post": {
        "tags": [
          "Visa Direct Account and Wallet Send API"
        ],
        "summary": "Send Payout",
        "description": "This API allows an originator to send Visa a payout request to push funds with relevant sender, recipient, and recipient's bank account  or recipient's wallet information. The ISO field names provided are provided by Visa for guidance only. Clients are advised to check the ISO field mappings themselves.",
        "operationId": "SendPayout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendPayoutRequest-1"
              },
              "examples": {
                "VDA Payment Received Scenario": {
                  "summary": "VDA Payment Received Scenario",
                  "value": {
                    "recipientDetail": {
                      "lastName": "smith",
                      "firstName": "Jessica",
                      "bank": {
                        "bankCode": "800554",
                        "bankCodeType": "SORT_CODE",
                        "accountNumberType": "DEFAULT",
                        "accountName": "Money Market",
                        "countryCode": "GBR",
                        "bankName": "Barclays",
                        "accountNumber": "6970093",
                        "currencyCode": "GBP"
                      },
                      "address": {
                        "country": "GBR",
                        "city": "London",
                        "postalCode": "675456",
                        "addressLine1": "123 Main St",
                        "state": "CF"
                      },
                      "type": "I"
                    },
                    "senderDetail": {
                      "address": {
                        "country": "USA",
                        "city": "Washington",
                        "addressLine1": "addressline1"
                      },
                      "name": "Ben",
                      "type": "C",
                      "senderAccountNumber": "senderAccountNumber"
                    },
                    "payoutMethod": "B",
                    "transactionDetail": {
                      "initiatingPartyId": 1002,
                      "businessApplicationId": "FD",
                      "statementNarrative": "advancepayment",
                      "transactionAmount": 1.5,
                      "transactionCurrencyCode": "GBP",
                      "settlementCurrencyCode": "GBP",
                      "clientReferenceId": "888852397088",
                      "senderSourceOfFunds": "01"
                    }
                  }
                },
                "VDW Transaction Timeout Scenario": {
                  "summary": "VDW Transaction Timeout Scenario",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Do",
                      "firstName": "John",
                      "wallet": {
                        "countryCode": "UGA",
                        "accountIdentifier": "+8801888513102",
                        "accountIdentifierType": "PHONENUMBER",
                        "currencyCode": "UGX",
                        "operatorName": "AIRTEL_MONEY"
                      },
                      "type": "I"
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "122342",
                      "lastName": "Sender",
                      "firstName": "Ben",
                      "address": {
                        "country": "USA",
                        "city": "Washington",
                        "postalCode": "111222",
                        "addressLine1": "addressline5",
                        "state": "CF"
                      },
                      "type": "I"
                    },
                    "payoutMethod": "W",
                    "transactionDetail": {
                      "initiatingPartyId": 1003,
                      "businessApplicationId": "FD",
                      "transactionAmount": 1000,
                      "transactionCurrencyCode": "USD",
                      "endToEndId": "123456",
                      "clientReferenceId": "829149656561"
                    }
                  }
                },
                "VDA Transaction Timeout Scenario": {
                  "summary": "VDA Transaction Timeout Scenario",
                  "value": {
                    "recipientDetail": {
                      "lastName": "smith",
                      "firstName": "Jessica",
                      "bank": {
                        "bankCode": "800554",
                        "bankCodeType": "SORT_CODE",
                        "accountNumberType": "DEFAULT",
                        "accountName": "Money Market",
                        "countryCode": "GBR",
                        "bankName": "Barclays",
                        "accountNumber": "6970095",
                        "currencyCode": "GBP"
                      },
                      "address": {
                        "country": "GBR",
                        "city": "London",
                        "postalCode": "675456",
                        "addressLine1": "123 Main St",
                        "state": "CF"
                      },
                      "type": "I"
                    },
                    "senderDetail": {
                      "address": {
                        "country": "USA",
                        "city": "Washington",
                        "addressLine1": "addressline1"
                      },
                      "name": "Ben",
                      "type": "C",
                      "senderAccountNumber": "senderAccountNumber"
                    },
                    "payoutMethod": "B",
                    "transactionDetail": {
                      "initiatingPartyId": 1002,
                      "businessApplicationId": "FD",
                      "statementNarrative": "advancepayment",
                      "transactionAmount": 1.5,
                      "transactionCurrencyCode": "GBP",
                      "settlementCurrencyCode": "GBP",
                      "clientReferenceId": "140466879604",
                      "senderSourceOfFunds": "01"
                    }
                  }
                },
                "VDW Payment Received Scenario": {
                  "summary": "VDW Payment Received Scenario",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Do",
                      "firstName": "John",
                      "wallet": {
                        "countryCode": "UGA",
                        "accountIdentifier": "+8801888513100",
                        "accountIdentifierType": "PHONENUMBER",
                        "currencyCode": "UGX",
                        "operatorName": "AIRTEL_MONEY"
                      },
                      "type": "I"
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "122342",
                      "lastName": "Sender",
                      "firstName": "Ben",
                      "address": {
                        "country": "USA",
                        "city": "Washington",
                        "postalCode": "111222",
                        "addressLine1": "addressline5",
                        "state": "CF"
                      },
                      "type": "I"
                    },
                    "payoutMethod": "W",
                    "transactionDetail": {
                      "initiatingPartyId": 1003,
                      "businessApplicationId": "FD",
                      "transactionAmount": 1000,
                      "transactionCurrencyCode": "USD",
                      "endToEndId": "123456",
                      "clientReferenceId": "987399801024"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout response body",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/AccountPayoutResponse-1"
                    }
                  ]
                },
                "examples": {
                  "VDA Payment Received Scenario": {
                    "summary": "VDA Payment Received Scenario",
                    "value": {
                      "transactionDetail": {
                        "transactionDateTime": "2022-11-16T10:36:07.000Z",
                        "settlementCurrencyCode": "GBP",
                        "payoutId": "5de56088-fdfc-31f2-83fa-fe6c3f66389b",
                        "clientReferenceId": "888852397088",
                        "payoutSpeed": "STANDARD",
                        "initiatingPartyId": 1002,
                        "fxConversionRate": 1,
                        "expectedPostingDate": "2022-11-16",
                        "destinationCurrencyCode": "GBP",
                        "transactionAmount": 1.5,
                        "transactionCurrencyCode": "GBP",
                        "settlementAmount": 1557,
                        "status": "PAYMENT_RECEIVED",
                        "destinationAmount": 1557
                      }
                    }
                  },
                  "VDW Transaction Timeout Scenario": {
                    "summary": "VDW Transaction Timeout Scenario",
                    "value": {
                      "transactionDetail": {
                        "initiatingPartyId": 1003,
                        "clientReferenceId": "829149656561",
                        "status": "PENDING"
                      }
                    }
                  },
                  "VDA Transaction Timeout Scenario": {
                    "summary": "VDA Transaction Timeout Scenario",
                    "value": {
                      "transactionDetail": {
                        "initiatingPartyId": 1002,
                        "clientReferenceId": "140466879604",
                        "status": "PENDING"
                      }
                    }
                  },
                  "VDW Payment Received Scenario": {
                    "summary": "VDW Payment Received Scenario",
                    "value": {
                      "transactionDetail": {
                        "transactionDateTime": "2023-05-03T11:09:51.938Z",
                        "settlementCurrencyCode": "USD",
                        "payoutId": "02af4f36-7fa0-317d-b7ac-db99a68f435e",
                        "endToEndId": "123456",
                        "clientReferenceId": "987399801024",
                        "payoutSpeed": "STANDARD",
                        "initiatingPartyId": 1003,
                        "fxConversionRate": 3613.25,
                        "expectedPostingDate": "2023-05-03",
                        "destinationCurrencyCode": "UGX",
                        "transactionAmount": 1000,
                        "transactionCurrencyCode": "USD",
                        "settlementAmount": 1000,
                        "status": "PAYMENT_RECEIVED",
                        "destinationAmount": 3613250
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Transaction is accepted",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/202AccountPayoutCreatedResponse-1"
                    }
                  ]
                },
                "examples": {
                  "VDA Payment Received Scenario": {
                    "summary": "VDA Payment Received Scenario",
                    "value": {
                      "transactionDetail": {
                        "transactionDateTime": "2022-11-16T10:36:07.000Z",
                        "settlementCurrencyCode": "GBP",
                        "payoutId": "5de56088-fdfc-31f2-83fa-fe6c3f66389b",
                        "clientReferenceId": "888852397088",
                        "payoutSpeed": "STANDARD",
                        "initiatingPartyId": 1002,
                        "fxConversionRate": 1,
                        "expectedPostingDate": "2022-11-16",
                        "destinationCurrencyCode": "GBP",
                        "transactionAmount": 1.5,
                        "transactionCurrencyCode": "GBP",
                        "settlementAmount": 1557,
                        "status": "PAYMENT_RECEIVED",
                        "destinationAmount": 1557
                      }
                    }
                  },
                  "VDW Transaction Timeout Scenario": {
                    "summary": "VDW Transaction Timeout Scenario",
                    "value": {
                      "transactionDetail": {
                        "initiatingPartyId": 1003,
                        "clientReferenceId": "829149656561",
                        "status": "PENDING"
                      }
                    }
                  },
                  "VDA Transaction Timeout Scenario": {
                    "summary": "VDA Transaction Timeout Scenario",
                    "value": {
                      "transactionDetail": {
                        "initiatingPartyId": 1002,
                        "clientReferenceId": "140466879604",
                        "status": "PENDING"
                      }
                    }
                  },
                  "VDW Payment Received Scenario": {
                    "summary": "VDW Payment Received Scenario",
                    "value": {
                      "transactionDetail": {
                        "transactionDateTime": "2023-05-03T11:09:51.938Z",
                        "settlementCurrencyCode": "USD",
                        "payoutId": "02af4f36-7fa0-317d-b7ac-db99a68f435e",
                        "endToEndId": "123456",
                        "clientReferenceId": "987399801024",
                        "payoutSpeed": "STANDARD",
                        "initiatingPartyId": 1003,
                        "fxConversionRate": 3613.25,
                        "expectedPostingDate": "2023-05-03",
                        "destinationCurrencyCode": "UGX",
                        "transactionAmount": 1000,
                        "transactionCurrencyCode": "USD",
                        "settlementAmount": 1000,
                        "status": "PAYMENT_RECEIVED",
                        "destinationAmount": 3613250
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponses-1"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse-1"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse-1"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse-1"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse-1"
          }
        },
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1visapayouts~1v3~1payouts/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      },
      "delete": {
        "tags": [
          "Visa Direct Account and Wallet Send API"
        ],
        "summary": "Cancel Payout",
        "description": "Cancel Payout Request",
        "operationId": "CancelPayout",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/PayoutIdentifier"
            }
          },
          {
            "name": "idType",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/TransactionIdType"
            }
          },
          {
            "name": "initiatingPartyId",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/InitiatingPartyId"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/CancelPayoutResponse"
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1visapayouts~1v3~1payouts/delete",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visapayouts/v3/payouts/postingCalendar": {
      "get": {
        "tags": [
          "Visa Direct Account and Wallet Send API"
        ],
        "summary": "Get Posting Calendar",
        "description": "This API retrieves the posting calendar for a currency/country combination from specific dates.",
        "operationId": "GetPostingCalendar",
        "parameters": [
          {
            "name": "initiatingPartyId",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/InitiatingPartyId"
            }
          },
          {
            "name": "recipientBankCountryCode",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "description": "Beneficiary bank account country code.\nFormat: 3-character ISO-3166 (Alpha-3) country code.\n\n(Refer to Payouts Endpoint Guide on country-specific required fields and lengths)\n\nISO20022 field name: Creditor Agent Financial Institution Country Code.\n",
              "allOf": [
                {
                  "$ref": "#/components/schemas/AlphaCountryCode"
                }
              ]
            }
          },
          {
            "name": "recipientBankCurrencyCode",
            "in": "query",
            "required": false,
            "explode": true,
            "schema": {
              "description": "Reflects the currency associated with the destination amount.\n\nFormat: 3-character ISO-4217 (Alpha-3) currency code.\n\nISO20022 field name:  Transaction Information And Status - Remitted Amount Currency Code.   \n",
              "allOf": [
                {
                  "$ref": "#/components/schemas/AlphaCurrencyCode"
                }
              ]
            }
          },
          {
            "name": "payoutSpeed",
            "in": "query",
            "required": false,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/PayoutSpeed"
            }
          },
          {
            "name": "numberOfProcessingDays",
            "in": "query",
            "required": false,
            "explode": true,
            "schema": {
              "maximum": 30,
              "minimum": 1,
              "type": "integer",
              "description": "This represents the number of days (Posting Dates) to be returned in the response.         \n",
              "example": 7
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetPostingCalendarResponse"
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1visapayouts~1v3~1payouts~1postingCalendar/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visapayouts/v3/payouts/accountBalance": {
      "get": {
        "tags": [
          "Visa Direct Account and Wallet Send API"
        ],
        "summary": "Get Account Balance",
        "description": "The purpose of this API is to retrieve merchant's account currency balance.",
        "operationId": "GetAccountBalance",
        "parameters": [
          {
            "name": "initiatingPartyId",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/InitiatingPartyId"
            }
          },
          {
            "name": "currencyCode",
            "in": "query",
            "required": false,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/AlphaCurrencyCode"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetAccountBalanceResponse"
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1visapayouts~1v3~1payouts~1accountBalance/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visapayouts/v3/payouts/validate": {
      "post": {
        "tags": [
          "Visa Direct Account and Wallet Send API"
        ],
        "summary": "Validate Payout",
        "description": "This API allows an Originating Entity to validate the payload for a Accounts or wallet payout before sending in the actual payout request for processing, thus ensuring greater probability of success and allowing for a more seamless transaction flow. The ISO field names provided are provided by Visa for guidance only. Clients are advised to check the ISO field mappings themselves.",
        "operationId": "ValidatePayout",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidatePayoutRequest-2"
              },
              "examples": {
                "VDA Invalid Scenario": {
                  "summary": "VDA Invalid Scenario",
                  "value": {
                    "recipientDetail": {
                      "lastName": "smith",
                      "firstName": "Jessica",
                      "bank": {
                        "bankCode": "800554",
                        "bankCodeType": "SORT_CODE",
                        "accountNumberType": "DEFAULT",
                        "accountName": "Money Market",
                        "countryCode": "GBR",
                        "bankName": "Barclays",
                        "accountNumber": "6970094",
                        "currencyCode": "GBP"
                      },
                      "address": {
                        "country": "GBR",
                        "city": "London",
                        "postalCode": "675456",
                        "addressLine1": "123 Main St",
                        "state": "CF"
                      },
                      "type": "I"
                    },
                    "senderDetail": {
                      "address": {
                        "country": "USA",
                        "city": "Washington",
                        "addressLine1": "addressline1"
                      },
                      "name": "Ben",
                      "type": "C",
                      "senderAccountNumber": "senderAccountNumber"
                    },
                    "payoutMethod": "B",
                    "transactionDetail": {
                      "initiatingPartyId": 1002,
                      "businessApplicationId": "FD",
                      "statementNarrative": "advancepayment",
                      "transactionAmount": 1.5,
                      "transactionCurrencyCode": "GBP",
                      "settlementCurrencyCode": "GBP",
                      "senderSourceOfFunds": "01"
                    }
                  }
                },
                "VDA Valid Scenario": {
                  "summary": "VDA Valid Scenario",
                  "value": {
                    "recipientDetail": {
                      "lastName": "smith",
                      "firstName": "Jessica",
                      "bank": {
                        "bankCode": "800554",
                        "bankCodeType": "SORT_CODE",
                        "accountNumberType": "DEFAULT",
                        "accountName": "Money Market",
                        "countryCode": "GBR",
                        "bankName": "Barclays",
                        "accountNumber": "6970093",
                        "currencyCode": "GBP"
                      },
                      "address": {
                        "country": "GBR",
                        "city": "London",
                        "postalCode": "675456",
                        "addressLine1": "123 Main St",
                        "state": "CF"
                      },
                      "type": "I"
                    },
                    "senderDetail": {
                      "address": {
                        "country": "USA",
                        "city": "Washington",
                        "addressLine1": "addressline1"
                      },
                      "name": "Ben",
                      "type": "C",
                      "senderAccountNumber": "senderAccountNumber"
                    },
                    "payoutMethod": "B",
                    "transactionDetail": {
                      "initiatingPartyId": 1002,
                      "businessApplicationId": "FD",
                      "statementNarrative": "advancepayment",
                      "transactionAmount": 1.5,
                      "transactionCurrencyCode": "GBP",
                      "settlementCurrencyCode": "GBP",
                      "senderSourceOfFunds": "01"
                    }
                  }
                },
                "VDW Invalid Scenario": {
                  "summary": "VDW Invalid Scenario",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Do",
                      "firstName": "John",
                      "wallet": {
                        "countryCode": "UGA",
                        "accountIdentifier": "+8801888513101",
                        "accountIdentifierType": "PHONENUMBER",
                        "currencyCode": "UGX",
                        "operatorName": "AIRTEL_MONEY"
                      },
                      "type": "I"
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "122342",
                      "lastName": "Sender",
                      "firstName": "Ben",
                      "address": {
                        "country": "USA",
                        "city": "Washington",
                        "postalCode": "111222",
                        "addressLine1": "addressline5",
                        "state": "CF"
                      },
                      "type": "I"
                    },
                    "payoutMethod": "W",
                    "transactionDetail": {
                      "initiatingPartyId": 1003,
                      "businessApplicationId": "FD",
                      "transactionAmount": 1000,
                      "transactionCurrencyCode": "USD",
                      "endToEndId": "123456"
                    }
                  }
                },
                "VDW Valid Scenario": {
                  "summary": "VDW Valid Scenario",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Do",
                      "firstName": "John",
                      "wallet": {
                        "countryCode": "UGA",
                        "accountIdentifier": "+8801888513100",
                        "accountIdentifierType": "PHONENUMBER",
                        "currencyCode": "UGX",
                        "operatorName": "AIRTEL_MONEY"
                      },
                      "type": "I"
                    },
                    "senderDetail": {
                      "senderReferenceNumber": "122342",
                      "lastName": "Sender",
                      "firstName": "Ben",
                      "address": {
                        "country": "USA",
                        "city": "Washington",
                        "postalCode": "111222",
                        "addressLine1": "addressline5",
                        "state": "CF"
                      },
                      "type": "I"
                    },
                    "payoutMethod": "W",
                    "transactionDetail": {
                      "initiatingPartyId": 1003,
                      "businessApplicationId": "FD",
                      "transactionAmount": 1000,
                      "transactionCurrencyCode": "USD",
                      "endToEndId": "123456"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business validation result - if the Payout request is valid and can be processed if sent as a payout transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidatePayoutResponse-2"
                },
                "examples": {
                  "VDA Invalid Scenario": {
                    "summary": "VDA Invalid Scenario",
                    "value": {
                      "validationResultCode": "INVALID",
                      "validationDetails": [
                        {
                          "reason": "string",
                          "details": [
                            {
                              "code": "string",
                              "location": "string",
                              "message": "string"
                            }
                          ],
                          "message": "string",
                          "status": 400
                        }
                      ]
                    }
                  },
                  "VDA Valid Scenario": {
                    "summary": "VDA Valid Scenario",
                    "value": {
                      "validationResultCode": "VALID"
                    }
                  },
                  "VDW Invalid Scenario": {
                    "summary": "VDW Invalid Scenario",
                    "value": {
                      "validationResultCode": "INVALID",
                      "validationDetails": [
                        {
                          "reason": "string",
                          "details": [
                            {
                              "code": "string",
                              "location": "string",
                              "message": "string"
                            }
                          ],
                          "message": "string",
                          "status": 400
                        }
                      ]
                    }
                  },
                  "VDW Valid Scenario": {
                    "summary": "VDW Valid Scenario",
                    "value": {
                      "validationResultCode": "VALID_WITH_NETWORK"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse-1"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse-1"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse-1"
          },
          "429": {
            "$ref": "#/components/responses/429ErrorResponse-1"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse-1"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse-1"
          }
        },
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1visapayouts~1v3~1payouts~1validate/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visapayouts/v3/payouts/metadata": {
      "get": {
        "tags": [
          "Visa Direct Account and Wallet Additional Services"
        ],
        "summary": "Get Payout Metadata",
        "description": "This service retrieves the  sender, recipient and transaction details needed to post a successful payout transaction",
        "operationId": "GetMetadata",
        "parameters": [
          {
            "name": "recipientCountryCode",
            "in": "query",
            "description": "This field is always required when payoutMethod = W. \nOnly one of recipientBankCountryCluster or recipientCountryCode must be sent when payoutMethod = B.  \n",
            "required": false,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/AlphaCountryCode-1"
            }
          },
          {
            "name": "recipientCurrencyCode",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/AlphaCurrencyCode-1"
            }
          },
          {
            "name": "recipientBankCountryCluster",
            "in": "query",
            "description": "Country cluster code. This field is applicable only when payoutMethod = B. Only one of recipientBankCountryCluster or recipientCountryCode must be sent when payoutMethod = B.\n",
            "required": false,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/CountryCluster"
            }
          },
          {
            "name": "recipientWalletOperator",
            "in": "query",
            "description": "Wallet operator enumerated codes (Reserved for Future Use). This field must be sent only when payoutMethod = W\n",
            "required": false,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/OperatorName"
            }
          },
          {
            "name": "payoutMethod",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "type": "string",
              "description": "Originating Entity must indicate the payout method e.g. to Account\n\nValid ENUM values:\n- \"B\" Visa Direct Account\n- \"W\" Visa Direct Wallet (Reserved for Future Use)\n",
              "enum": [
                "B",
                "W"
              ]
            }
          },
          {
            "name": "initiatingPartyId",
            "in": "query",
            "required": true,
            "explode": true,
            "schema": {
              "$ref": "#/components/schemas/InitiatingPartyId-1"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/GetMetaDataResponse-4"
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse-2"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1visapayouts~1v3~1payouts~1metadata/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visapayouts/v1/extensions/verifyRecipient": {
      "post": {
        "tags": [
          "Visa Direct Account and Wallet Additional Services"
        ],
        "summary": "Verify Recipient",
        "description": "Verify Recipient Detail Request",
        "operationId": "VerifyRecipient",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyRecipientDetailRequest-3"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Business validation result - if the Payout request is valid and can be processed if sent as a payout transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyRecipientDetailResponse-1"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse-1"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponse-1"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponse-1"
          },
          "429": {
            "$ref": "#/components/responses/429ErrorResponse-1"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse-1"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse-1"
          }
        },
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1visapayouts~1v1~1extensions~1verifyRecipient/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visapayouts/managedLiquidityFX/v1/quotes": {
      "post": {
        "tags": [
          "Managed Liquidity FX "
        ],
        "summary": "Create Quote",
        "description": "Create Quote",
        "operationId": "createQuote",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuote"
              },
              "examples": {
                "Request-Response-With-BUY-Amount": {
                  "summary": "Request-Response-With-BUY-Amount",
                  "value": {
                    "amountType": "BUY",
                    "initiatingPartyId": "900104",
                    "amount": "98976.67",
                    "sellCurrency": "GBP",
                    "buyCurrency": "USD"
                  }
                },
                "Request-Response-With-SELL-Amount": {
                  "summary": "Request-Response-With-SELL-Amount",
                  "value": {
                    "amountType": "SELL",
                    "initiatingPartyId": "900104",
                    "amount": "10",
                    "sellCurrency": "USD",
                    "buyCurrency": "GBP"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Operation Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateQuoteResponse"
                },
                "examples": {
                  "Request-Response-With-BUY-Amount": {
                    "summary": "Request-Response-With-BUY-Amount",
                    "value": {
                      "buyAmount": 98976.67,
                      "exchangeRate": 1.1973,
                      "sellAmount": 82666.56,
                      "quoteExpiryDateTime": "2024-05-09T22:56:40.000Z",
                      "sellCurrency": "GBP",
                      "buyCurrency": "USD",
                      "quoteId": 6926029700183,
                      "quoteStatus": "PENDING"
                    }
                  },
                  "Request-Response-With-SELL-Amount": {
                    "summary": "Request-Response-With-SELL-Amount",
                    "value": {
                      "buyAmount": 8.1,
                      "exchangeRate": 1.234,
                      "sellAmount": 10,
                      "quoteExpiryDateTime": "2024-05-09T18:02:08.000Z",
                      "sellCurrency": "USD",
                      "buyCurrency": "GBP",
                      "quoteId": 2630127435850,
                      "quoteStatus": "PENDING"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request - Error Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse401"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1visapayouts~1managedLiquidityFX~1v1~1quotes/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visapayouts/managedLiquidityFX/v1/quotes/{quoteId}": {
      "put": {
        "tags": [
          "Managed Liquidity FX "
        ],
        "summary": "Lock Quote",
        "description": "Lock Quote",
        "operationId": "lockInQuote",
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "description": "Quote Id that needs to be locked-in",
            "required": true,
            "explode": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LockQuoteRequest"
              },
              "examples": {
                "Request-Response-Lock-Quote": {
                  "summary": "Request-Response-Lock-Quote",
                  "value": {
                    "initiatingPartyId": 900104
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Operation Successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LockQuoteResponse"
                },
                "examples": {
                  "Request-Response-Lock-Quote": {
                    "summary": "Request-Response-Lock-Quote",
                    "value": {
                      "buyAmount": 8.1,
                      "exchangeRate": 1.234,
                      "sellAmount": 10,
                      "sellCurrency": "USD",
                      "buyCurrency": "GBP",
                      "quoteId": 2630127435850,
                      "quoteStatus": "LOCKED-IN"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid Request - Error Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse400"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse401"
                }
              }
            }
          },
          "500": {
            "description": "Internal Service Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse500"
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v1 - Latest",
            "operationPointer": "#/paths/~1visapayouts~1managedLiquidityFX~1v1~1quotes~1{quoteId}/put",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visapayouts/v2/payouts/{payoutId}": {
      "get": {
        "tags": [
          "Payouts Originator Send API - Legacy"
        ],
        "summary": "Query Payout With Id",
        "description": "Query PayoutId Request",
        "operationId": "Query",
        "parameters": [
          {
            "name": "payoutId",
            "in": "path",
            "description": "This is a unique identifier generated by the Visa for a transaction and is key field used in the subsequent messages with in the transaction set example Notification, Returns, Cancel, Exception management via VD Portal for P2A, P2W and Reversals, Chargeback, Response, Advice for P2C.\n\nISO20022 field name: Transaction Information And Status - Additional Remittance Information",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 50,
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QueryPayoutIdResponse200-1"
                  }
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": [
                      {
                        "recipientDetail": {
                          "bank": {
                            "accountName": "account name",
                            "countryCode": "840",
                            "bankName": "Bank of America",
                            "accountNumber": "4385878445587518"
                          }
                        },
                        "originatorDetail": {
                          "bankId": "320007",
                          "originatorId": "77770"
                        },
                        "transactionDetail": {
                          "systemTraceAuditNumber": "325081",
                          "transactionIdentifier": "461218600340256",
                          "retrievalReferenceNumber": "121816403394",
                          "payoutId": "2ee1ee20-2ca1-11b2-b711-5a485339dc9e_1",
                          "endToEndId": "ABCD-1234-fab-578",
                          "clientReferenceId": "3187351823",
                          "settlement": {
                            "date": "2021-08-07",
                            "amount": 200,
                            "currencyCode": "840",
                            "conversionRate": "1.000000"
                          },
                          "responseCode": "00",
                          "expectedPostingDate": "2020-01-22",
                          "destinationCurrencyCode": "978",
                          "transactionAmount": 200,
                          "transactionCurrencyCode": "840",
                          "originalTransmissionDateTime": "2021-08-06T16:40:34.000Z",
                          "statusUpdateTime": "2021-08-06T16:40:34.000Z",
                          "status": "RECEIVED",
                          "destinationAmount": 166
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "When any field validation fails or when any required field is missing or when request is inconsistent with the Original Payout transaction or when original Push To Account transaction is not found or when original Push To Wallet transaction is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryPayoutIdResponse400"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryPayoutIdResponse404"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryPayoutIdResponse500"
                }
              }
            }
          },
          "503": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryPayoutIdResponse503"
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1visapayouts~1v2~1payouts~1{payoutId}/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      },
      "delete": {
        "tags": [
          "Payouts Originator Send API - Legacy"
        ],
        "summary": "Cancel DELETE",
        "description": "Cancel Payout Request",
        "operationId": "Cancel",
        "parameters": [
          {
            "name": "payoutId",
            "in": "path",
            "description": "This is a unique identifier generated by the Visa for a transaction and is key field used in the subsequent messages with in the transaction set example Notification, Returns, Cancel, Exception management via VD Portal for P2A and Reversals, Chargeback, Response, Advice for P2C.\n\nISO20022 field name: Transaction Information And Status - Additional Remittance Information",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "maxLength": 50,
              "minLength": 1,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Cancel Payout request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelPayoutRequest"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Cancel payout response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPayout200Response"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "transactionDetail": {
                        "status": "CANCELLED"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "When any field validation fails or when any required field is missing or when request is inconsistent with the Original Payout transaction or when original PushToAccount transaction is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPayout400Response"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPayout500Response"
                }
              }
            }
          },
          "503": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPayout503Response"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "CancelPayoutRequest",
        "x-operationVersions": [
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1visapayouts~1v2~1payouts~1{payoutId}/delete",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visapayouts/v2/payouts": {
      "get": {
        "tags": [
          "Payouts Originator Send API - Legacy"
        ],
        "summary": "Query Payout",
        "description": "Query Payout with BankId, OriginatorId & RRN",
        "operationId": "Query with parameters",
        "parameters": [
          {
            "name": "bankId",
            "in": "query",
            "description": "Originating bank ID is the Bank Identification Number (BIN) assigned to each Visa Member upon enrollment. If the Originator is not a Financial Institution (FI) and will be processing using a sponsor FI (i.e. Acquirer ) , this is the BIN of the sponsoring FI (Acquirer). It uniquely identifies the Bank/FI that is sponsoring the Originating Entity in Visa’s core system.\n\nNote: This is also referred to as the “Acquiring BIN” by Visa\n\nISO20022 field name: Debtor Agent FI Identification",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 11,
              "minLength": 6,
              "pattern": "\\d{6,11}",
              "type": "string"
            }
          },
          {
            "name": "originatorId",
            "in": "query",
            "description": "An alphanumeric field that uniquely identifies the Originating Entity for Push to Account or Push to Wallet transactions. The Originating Entity should populate Card Acceptor Terminal ID (CAID) for Push to Card transactions.\n\nISO20022 field name: Debtor - Originating Entity Identification",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 15,
              "minLength": 1,
              "type": "string"
            }
          },
          {
            "name": "RRN",
            "in": "query",
            "description": "This is a unique identifier generated by the Originating Entity for a transaction and its one of the key fields for matching a transaction with the subsequent messages with in the transaction set example Notification, Returns, Cancel, Exception management via VD Portal for P2A and Reversals, Chargeback, Response, Advice for P2C. It is also used for duplicate validation check done by Visa.\n\nThe format is recommended to be ydddhhnnnnnn yddd - The first four digits must be a valid Julian date format, where the first digit = 0-9 (last digit of current year) and the next three digits = 001-366 (number of the day in the year). hh - can be the two digit hour in a 24 hour clock (00-23) during which the transaction is performed. nnnnnn - can be the systemsTraceAuditNumber or any 6 digit number\n\nISO20022 field name: Payment Identification - Instruction Identification",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "maxLength": 12,
              "minLength": 12,
              "pattern": "\\d{12}",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QueryPayoutIdResponse200"
                  }
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": [
                      {
                        "recipientDetail": {
                          "bank": {
                            "accountName": "account name",
                            "countryCode": "840",
                            "bankName": "Bank of America",
                            "accountNumber": "4385878445587518"
                          }
                        },
                        "originatorDetail": {
                          "bankId": "320007",
                          "originatorId": "77770"
                        },
                        "transactionDetail": {
                          "systemTraceAuditNumber": "325081",
                          "transactionIdentifier": "461218600340256",
                          "retrievalReferenceNumber": "121816403394",
                          "payoutId": "2ee1ee20-2ca1-11b2-b711-5a485339dc9e_1",
                          "endToEndId": "ABCD-1234-fab-578",
                          "clientReferenceId": "3187351823",
                          "settlement": {
                            "date": "2021-08-07",
                            "amount": 200,
                            "currencyCode": "840",
                            "conversionRate": "1.000000"
                          },
                          "responseCode": "00",
                          "expectedPostingDate": "2020-01-22",
                          "destinationCurrencyCode": "978",
                          "transactionAmount": 200,
                          "transactionCurrencyCode": "840",
                          "originalTransmissionDateTime": "2021-08-06T16:40:34.000Z",
                          "statusUpdateTime": "2021-08-06T16:40:34.000Z",
                          "status": "RECEIVED",
                          "destinationAmount": 166
                        }
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "When any field validation fails or when any required field is missing or when request is inconsistent with the Original Payout transaction or when original PushToAccount transaction is not found or when original Push To Wallet transaction is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryPayoutIdResponse400"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryPayoutIdResponse404"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryPayoutIdResponse500"
                }
              }
            }
          },
          "503": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueryPayoutIdResponse503"
                }
              }
            }
          }
        },
        "x-operationVersions": [
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1visapayouts~1v2~1payouts/get",
            "default": false
          }
        ],
        "x-hideTryIt": true
      },
      "post": {
        "tags": [
          "Payouts Originator Send API - Legacy"
        ],
        "summary": "Send Payout",
        "description": "This API allows an originator to send Visa a payout request to push funds with relevant sender, recipient, and recipient's bank account information.",
        "operationId": "Send Payout",
        "requestBody": {
          "description": "SendPayoutFromOriginator request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendPayoutFromOriginatorRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Smith",
                      "address": {
                        "country": "840",
                        "city": "SFO",
                        "postalCode": "100",
                        "addressLine1": "address line 1",
                        "addressLine2": "address line 2",
                        "state": "765"
                      },
                      "contactEmail": "abc@visa.com",
                      "dateOfBirth": "1990-09-11",
                      "type": "I",
                      "payoutMethod": "B",
                      "firstName": "John",
                      "bank": {
                        "branchCode": "2",
                        "bankCode": "021001088",
                        "bankCodeType": "ABA",
                        "accountNumberType": "DEFAULT",
                        "accountName": "account name",
                        "countryCode": "840",
                        "accountType": "1",
                        "bankName": "Bank of America",
                        "accountNumber": "4385878445587518",
                        "BIC": "CTBAAU2S",
                        "currencyCode": "840"
                      },
                      "cityOfBirth": "Austin",
                      "identificationList": [
                        {
                          "idType": "D",
                          "idNumber": "123334",
                          "idIssueCountry": "840"
                        }
                      ],
                      "countryOfBirth": "840",
                      "contactNumber": "123456789",
                      "additionalData": [
                        {
                          "name": "TAX_REF",
                          "value": "ASR"
                        }
                      ]
                    },
                    "senderDetail": {
                      "address": {
                        "country": "840",
                        "city": "Mumbai",
                        "postalCode": "100",
                        "addressLine1": "address line 1",
                        "addressLine2": "address line 2",
                        "state": "Mahrashtra"
                      },
                      "contactEmail": "def@visa.com",
                      "beneficiaryRelationship": "business partner",
                      "dateOfBirth": "1990-09-11",
                      "sourceOfFunds": "02",
                      "type": "I",
                      "senderReferenceNumber": "4304630005267011",
                      "cityOfBirth": "Austin",
                      "identificationList": [
                        {
                          "idType": "D",
                          "idNumber": "123334",
                          "idIssueCountry": "840"
                        }
                      ],
                      "countryOfBirth": "840",
                      "name": "John Smith",
                      "contactNumber": "120345678",
                      "additionalData": [
                        {
                          "name": "TAX_REF",
                          "value": "ASR"
                        }
                      ],
                      "sourceOfIncome": "business"
                    },
                    "originatorDetail": {
                      "paymentFacilitator": {
                        "country": "840",
                        "name": "test",
                        "id": "123476876"
                      },
                      "bankId": "320007",
                      "originatorName": "Visa Inc. GER",
                      "address": {
                        "country": "840",
                        "postalCode": "12346",
                        "state": "TX",
                        "addressLine": "123 St."
                      },
                      "originatorBIC": "CTBAAU2S",
                      "merchantCategoryCode": "6012",
                      "bankBIC": "CTBAAU2S",
                      "originatorId": "77770"
                    },
                    "transactionDetail": {
                      "systemTraceAuditNumber": "325081",
                      "localTransactionDateTime": "2021-08-06T11:00:29",
                      "businessApplicationId": "FD",
                      "statementNarrative": "advance payment",
                      "purposeOfPayment": "ANN",
                      "transactionAmount": "200",
                      "transactionCurrencyCode": "840",
                      "additionalData": [
                        {
                          "name": "TAX_REF",
                          "value": "ASR"
                        }
                      ],
                      "retrievalReferenceNumber": "121816403394",
                      "endToEndId": "ABCD-1234-fab-578",
                      "clientReferenceId": "3187351823",
                      "payoutSpeed": "standard"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Payout response body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutFromOriginator200Response"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "_links": {
                        "self": {
                          "href": "visapayouts/v2/payouts",
                          "type": "POST"
                        }
                      },
                      "originatorDetail": {
                        "bankId": "320007",
                        "originatorId": "77770"
                      },
                      "transactionDetail": {
                        "systemTraceAuditNumber": "325081",
                        "transactionIdentifier": "461218600340256",
                        "retrievalReferenceNumber": "121816403394",
                        "payoutId": "2ee1ee20-2ca1-11b2-b711-5a485339dc9e_1",
                        "endToEndId": "ABCD-1234-fab-578",
                        "clientReferenceId": "3187351823",
                        "settlement": {
                          "date": "2021-08-07",
                          "amount": 200,
                          "currencyCode": "840",
                          "conversionRate": "1.000000"
                        },
                        "payoutSpeed": "PREMIUM",
                        "responseCode": "00",
                        "transmissionDateTime": "2021-08-06T16:40:34.000Z",
                        "expectedPostingDate": "2020-01-22",
                        "destinationCurrencyCode": "978",
                        "transactionAmount": 200,
                        "transactionCurrencyCode": "840",
                        "destinationAmount": 166
                      }
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Transaction is accepted and will be processed & notified status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutFromOriginator201Response"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "_links": {
                        "self": {
                          "href": "visapayouts/v2/payouts",
                          "type": "POST"
                        }
                      },
                      "originatorDetail": {
                        "bankId": "320007",
                        "originatorId": "77770"
                      },
                      "transactionDetail": {
                        "systemTraceAuditNumber": "325081",
                        "transactionIdentifier": "461218600340256",
                        "retrievalReferenceNumber": "121816403394",
                        "payoutId": "2ee1ee20-2ca1-11b2-b711-5a485339dc9e_1",
                        "endToEndId": "ABCD-1234-fab-578",
                        "clientReferenceId": "3187351823",
                        "settlement": {
                          "date": "2021-08-07",
                          "amount": 200,
                          "currencyCode": "840",
                          "conversionRate": "1.000000"
                        },
                        "payoutSpeed": "PREMIUM",
                        "responseCode": "00",
                        "transmissionDateTime": "2021-08-06T16:40:34.000Z",
                        "expectedPostingDate": "2020-01-22",
                        "destinationCurrencyCode": "978",
                        "transactionAmount": 200,
                        "transactionCurrencyCode": "840",
                        "destinationAmount": 166
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "When any field validation fails or when any required field is missing or when request is inconsistent with the Original Payout transaction or when original PushToAccount transaction is not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutFromOriginator400Response"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PayoutFromOriginator500Response"
                }
              }
            }
          }
        },
        "x-name": "Initiate V2SendPayoutFromOriginator Request",
        "x-codegen-request-body-name": "SendPayoutFromOriginatorRequest",
        "x-slug": "SendPayoutFromOriginator-v2",
        "x-tags": [
          "SendPayoutFromOriginator-v2",
          "SendPayoutFromOriginatorRequest-v2"
        ],
        "x-operationVersions": [
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1visapayouts~1v2~1payouts/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/visapayouts/v1/payouts/validate": {
      "post": {
        "tags": [
          "Payouts Originator Send API - Legacy"
        ],
        "summary": "Payout Validation",
        "description": "This API allows an Originating Entity to validate the payload for a ‘Push to Account’ payout before sending in the actual payout request for processing, thus ensuring greater probability of success and allowing for a more seamless transaction flow.",
        "operationId": "Payout Validation",
        "requestBody": {
          "description": "ValidatePayoutFromOriginator request body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidatePayoutFromOriginatorRequest"
              },
              "examples": {
                "Default": {
                  "summary": "Default",
                  "value": {
                    "recipientDetail": {
                      "lastName": "Smith",
                      "address": {
                        "country": "840",
                        "city": "SFO",
                        "postalCode": "100",
                        "addressLine1": "address line 1",
                        "addressLine2": "address line 2",
                        "state": "765"
                      },
                      "contactEmail": "abc@visa.com",
                      "dateOfBirth": "1990-09-11",
                      "type": "I",
                      "payoutMethod": "B",
                      "firstName": "John",
                      "bank": {
                        "branchCode": "2",
                        "bankCode": "021001088",
                        "bankCodeType": "ABA",
                        "accountNumberType": "DEFAULT",
                        "accountName": "account name",
                        "countryCode": "840",
                        "accountType": "1",
                        "bankName": "Bank of America",
                        "accountNumber": "4385878445587518",
                        "BIC": "CTBAAU2S",
                        "currencyCode": "840"
                      },
                      "cityOfBirth": "Austin",
                      "identificationList": [
                        {
                          "idType": "D",
                          "idNumber": "123334",
                          "idIssueCountry": "840"
                        }
                      ],
                      "countryOfBirth": "840",
                      "contactNumber": "123456789",
                      "additionalData": [
                        {
                          "name": "TAX_REF",
                          "value": "ASR"
                        }
                      ]
                    },
                    "senderDetail": {
                      "address": {
                        "country": "840",
                        "city": "Mumbai",
                        "postalCode": "100",
                        "addressLine1": "address line 1",
                        "addressLine2": "address line 2",
                        "state": "Mahrashtra"
                      },
                      "contactEmail": "def@visa.com",
                      "beneficiaryRelationship": "business partner",
                      "dateOfBirth": "1990-09-11",
                      "sourceOfFunds": "02",
                      "type": "I",
                      "senderReferenceNumber": "4304630005267011",
                      "cityOfBirth": "Austin",
                      "identificationList": [
                        {
                          "idType": "D",
                          "idNumber": "123334",
                          "idIssueCountry": "840"
                        }
                      ],
                      "countryOfBirth": "840",
                      "name": "John Smith",
                      "contactNumber": "120345678",
                      "additionalData": [
                        {
                          "name": "TAX_REF",
                          "value": "ASR"
                        }
                      ],
                      "sourceOfIncome": "business"
                    },
                    "originatorDetail": {
                      "paymentFacilitator": {
                        "country": "840",
                        "name": "test",
                        "id": "123476876"
                      },
                      "bankId": "320007",
                      "originatorName": "Visa Inc. GER",
                      "address": {
                        "country": "840",
                        "postalCode": "12346",
                        "state": "TX",
                        "addressLine": "123 St."
                      },
                      "originatorBIC": "CTBAAU2S",
                      "merchantCategoryCode": "6012",
                      "bankBIC": "CTBAAU2S",
                      "originatorId": "77770"
                    },
                    "transactionDetail": {
                      "systemTraceAuditNumber": "325081",
                      "localTransactionDateTime": "2021-08-06T11:00:29",
                      "businessApplicationId": "FD",
                      "statementNarrative": "advance payment",
                      "purposeOfPayment": "ANN",
                      "transactionAmount": "200",
                      "transactionCurrencyCode": "840",
                      "additionalData": [
                        {
                          "name": "TAX_REF",
                          "value": "ASR"
                        }
                      ],
                      "retrievalReferenceNumber": "121816403394",
                      "endToEndId": "ABCD-1234-fab-578",
                      "clientReferenceId": "3187351823",
                      "payoutSpeed": "standard"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "This response indicates if the payout request is valid, invalid or duplicate.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidatePayoutFromOriginator200Response"
                },
                "examples": {
                  "Default": {
                    "summary": "Default",
                    "value": {
                      "status": "VALID"
                    }
                  }
                }
              }
            }
          },
          "429": {
            "description": "This response indicates the user has sent too many requests at a given time.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidatePayoutFromOriginator429Response"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidatePayoutFromOriginator500Response"
                }
              }
            }
          }
        },
        "x-name": "Initiate ValidatePayoutFromOriginator Request",
        "x-codegen-request-body-name": "ValidatePayoutFromOriginatorRequest",
        "x-slug": "ValidatePayoutFromOriginator",
        "x-tags": [
          "ValidatePayoutFromOriginator",
          "ValidatePayoutFromOriginatorRequest"
        ],
        "x-operationVersions": [
          {
            "label": "v1",
            "operationPointer": "#/paths/~1visapayouts~1v1~1payouts~1validate/post",
            "default": false
          }
        ],
        "x-hideTryIt": true
      }
    },
    "/v3/payouts/statusNotification": {
      "post": {
        "tags": [
          "Visa Direct Account and Wallet Receive API"
        ],
        "summary": "Payout Status Notification",
        "description": "The purpose of the API is to Enable Visa to provide updates of an pay to account or pay to wallet or pay to card transaction to originator",
        "operationId": "PayoutStatusNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutNotification-5"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          },
          "400": {
            "$ref": "#/components/responses/400NotificationsErrorResponse-1"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse-1"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse-1"
          }
        },
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1v3~1payouts~1statusNotification/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/v3/payouts/flexibleSettlementNotification": {
      "post": {
        "tags": [
          "Visa Direct Account and Wallet Receive API"
        ],
        "summary": "Flexible Settlement Notification",
        "description": "The purpose of this API is to provide flexible settlement notification to merchants to manage their flexible Settlement agreement",
        "operationId": "FlexibleSettlementNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FlexibleSettlementNotification"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400NotificationsErrorResponse"
          },
          "401": {
            "$ref": "#/components/responses/401ErrorResponseNoBody"
          },
          "403": {
            "$ref": "#/components/responses/403ErrorResponseNoBody"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1v3~1payouts~1flexibleSettlementNotification/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/v3/payouts/ledgerNotification": {
      "post": {
        "tags": [
          "Visa Direct Account and Wallet Receive API"
        ],
        "summary": "Ledger Notification",
        "description": "Ledger Notification",
        "operationId": "LedgerNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LedgerNotification-7"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400NotificationsErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1v3~1payouts~1ledgerNotification/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/v3/payouts/metadataChangeNotification": {
      "post": {
        "tags": [
          "Visa Direct Account and Wallet Receive API"
        ],
        "summary": "Payout Metadata Change Notification",
        "description": "Clients using Get Payout Metadata API will need to subscribe to this notification.\nThe purpose of this API is to inform the clients when there is a change in payout metadata for a route or when there is a recall of the latest published version of metadata. \nWhen there is a recall clients would need to revert back to the previous version of metadata. A call to the Get Payout Metadata API endpoint would  always return the metadata version that is in effect.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/RouteDefinitionChangePerCountryAndCurrency"
                  },
                  {
                    "$ref": "#/components/schemas/RouteDefinitionChangePerCountryClusterAndCurrency"
                  },
                  {
                    "$ref": "#/components/schemas/RouteDefinitionRecallPerCountryAndCurrency"
                  },
                  {
                    "$ref": "#/components/schemas/RouteDefinitionRecallPerCountryClusterAndCurrency"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1v3~1payouts~1metadataChangeNotification/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/v3/payouts/balanceNotification": {
      "post": {
        "tags": [
          "Visa Direct Account and Wallet Receive API"
        ],
        "summary": "Account Balance Notification",
        "description": "The purpose of this API is to provide virtual account (i.e. VAN) balance data driven by client's configuration and usage",
        "operationId": "BalanceNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BalanceNotification-3"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/400ErrorResponse-2"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1v3~1payouts~1balanceNotification/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/v3/payouts/return": {
      "post": {
        "tags": [
          "Visa Direct Account and Wallet Receive API"
        ],
        "summary": "Payout Return Notification",
        "description": "This API provides the Originating Entity with the ability to receive notifications on returns associated with their payouts",
        "operationId": "PayoutReturnNotification",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutReturnRequest-2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "ok"
          },
          "400": {
            "$ref": "#/components/responses/400NotificationsErrorResponse"
          },
          "404": {
            "$ref": "#/components/responses/404ErrorResponse"
          },
          "500": {
            "$ref": "#/components/responses/500ErrorResponse"
          },
          "503": {
            "$ref": "#/components/responses/503ErrorResponse"
          }
        },
        "x-operationVersions": [
          {
            "label": "v3 - Latest",
            "operationPointer": "#/paths/~1v3~1payouts~1return/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/v2/payouts/return": {
      "post": {
        "tags": [
          "Payouts Originator Receive API - Legacy"
        ],
        "summary": "Return Payout",
        "description": " Return to Originator",
        "operationId": "Return Payout",
        "requestBody": {
          "description": "ReturnToOriginator body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PayoutReturnRequestV2"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "description": "When any field validation fails or when any required field is missing or when request is inconsistent with the Request definitions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse-2"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse-2"
                }
              }
            }
          },
          "500": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse-2"
                }
              }
            }
          },
          "503": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse-2"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "ReturnToOriginator",
        "x-operationVersions": [
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1v2~1payouts~1return/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    },
    "/v2/payouts/notification": {
      "post": {
        "tags": [
          "Payouts Originator Receive API - Legacy"
        ],
        "summary": "Payout Notification API",
        "description": "The purpose of the API is to enable the PSP to provide updates on an existing payout transaction with additional information or request additional information required to complete the processing of an existing active payout transaction. Examples for updates provided by the PSP are status updates or updates on the expected payout transaction posting date.",
        "operationId": "Status Notification",
        "requestBody": {
          "description": "OriginatorStatusNotification body",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/requestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "description": "When any field validation fails or when any required field is missing or when request is inconsistent with the Request definitions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse-2"
                }
              }
            }
          },
          "404": {
            "description": "Resource not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse-2"
                }
              }
            }
          },
          "503": {
            "description": "Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse-2"
                }
              }
            }
          }
        },
        "x-codegen-request-body-name": "OriginatorStatusNotification",
        "x-slug": "OriginatorStatusNotification",
        "x-tags": [
          "OriginatorStatusNotification"
        ],
        "x-operationVersions": [
          {
            "label": "v2 - Latest",
            "operationPointer": "#/paths/~1v2~1payouts~1notification/post",
            "default": false
          }
        ],
        "x-hideSample": true,
        "x-hideTryIt": true
      }
    }
  },
  "components": {
    "schemas": {
      "QueryPayoutIdResponse200-1": {
        "required": [
          "originatorDetail",
          "transactionDetail"
        ],
        "type": "object",
        "properties": {
          "recipientDetail": {
            "type": "object",
            "properties": {
              "bank": {
                "required": [
                  "accountName",
                  "accountNumber",
                  "bankName",
                  "countryCode"
                ],
                "type": "object",
                "properties": {
                  "bankName": {
                    "maxLength": 50,
                    "minLength": 1,
                    "type": "string",
                    "description": "Recipient bank name"
                  },
                  "accountName": {
                    "maxLength": 70,
                    "minLength": 1,
                    "type": "string",
                    "description": "Recipient bank account name i.e. accountholder name as recorded on recipient bank account"
                  },
                  "countryCode": {
                    "maxLength": 3,
                    "minLength": 3,
                    "pattern": "^\\d\\d\\d$",
[...]
